albumentations==2.0.8
branca==0.8.2
folium==0.20.0
geopandas==1.1.2
geopy==2.4.1
kaleido==1.2.0
label-studio==1.22.0
label-studio-sdk==2.0.16
matplotlib==3.10.8
numpy==2.4.2
osmnx==2.1.0
overpass==0.7
pandas==3.0.1
pillow==12.1.1
plotly==6.7.0
psycopg==3.3.3
psycopg-binary==3.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
rasterio==1.5.0
requests==2.32.5
shapely==2.1.2
SQLAlchemy==2.0.46
torch==2.10.0+cu126
torchvision==0.25.0+cu126
tqdm==4.67.3
ultralytics==8.4.14
wandb==0.25.0
